[user]
	email = diegogoulart.aws@gmail.com
	name = Diego Goulart
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/e18005f0f1b33c29e81d732535d8c0e47cafb0b5/node /tmp/vscode-remote-containers-56158c02c6153100999d3078cce7d67165c4b024.js $*; }; f"
